@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face{
        font-family: 'workhorse';
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url('../fonts/WorkhorseScriptTest-Display.woff2') format('woff2');
    }
}

@layer utilities{
    .mask{
        mask-image: linear-gradient(143deg, white 33.3%, rgba(255, 255, 255, 0.1) 66.6%);
        mask-size: 300% 100%;
        transition: all 1s ease-in-out;
        mask-position: 100% 100%;
    }
    .mask.active{
        mask-position:0 100%;
    }
}
@layer components{
    .btn{
        @apply flex gap-2 items-center text-white ;

        >.icon{
            @apply w-6 h-6 bg-[#BB70AD] rounded-full;

            >*{
                @apply w-full h-full object-scale-down;
            }
        }

           >:first-child {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                position: relative;


                > :last-child {
                    color: white;
                    position: absolute;
                    left: -100%;
                }
            }


            >:last-child {
                display: flex;
                flex-direction: column;
                height: 100%;
                overflow: hidden;
                position: relative;



                > :last-child {
                    color: white;
                    position: absolute;
                    top: 100%;

                }
            }

            &:hover {
                & :first-child {
                    >* {
                        transition: transform 0.5s;
                        transform: translateX(100%);
                    }
                }

                & :last-child {

                    >* {
                        transition: transform 0.5s;
                        transform: translateY(-100%);
                    }
                }
            }

        }

        .hover-y {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: hidden;
            position: relative;

            &:hover {

                >* {
                    transition: transform 0.5s;
                    transform: translateY(-100%);
                }
            }

            > :last-child {
                color: white;
                position: absolute;
                top: 100%;

            }
        }

        .hover-x {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: relative;

            &:hover {

                >* {
                    transition: transform 0.5s;
                    transform: translateX(100%);
                }
            }

            > :last-child {
                color: white;
                position: absolute;
                left: -100%;
            }
        }
}
